<ion-header no-shadow>
  <ion-navbar transparent>
    <!-- <button (click)="close()" icon-only>
      <a color="primary">Close</a>
    </button> -->
    <ion-buttons front style="padding-left:1%">
        <a color="primary" (click)="close()">Close</a>
    </ion-buttons>
    <ion-title>
      <span class="title-headers">
        {{item.product_name}}
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content>
  <ion-card>
    <img [src]="item.product_image">
    <ion-card-header>
      <h2>{{item.product_name}}</h2>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.product_description}}</p>
    <br/>
      <ion-list no-lines>
        <ion-list-header>
          Your Choices
        </ion-list-header>
        <ion-item *ngFor="let option of item.has_options">
          <ion-label>{{option}}</ion-label>
          <ion-radio value="option"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <div padding>
      <button type="submit" ion-button color="primary" full>Add to Order</button>
    </div>
  </ion-card>
</ion-content> -->

<ion-content class="common-bg">
    <!--slides-->
    <!-- <ion-slides class="to-top text-center" pager>
      <ion-slide *ngFor="let image of item.product_image">
        <img [src]="image" alt="">
      </ion-slide>
    </ion-slides> -->
    <img [src]="item.product_image" alt="">
  
    <!--high light-->
    <div class="border-bottom" padding>
      <span ion-text color="dark" class="bold">HIGHLIGHT</span>
      <ul class="highlight">
        <li *ngFor="let highlight of item.highlights">
          <ion-icon name="checkmark" class="text-green"></ion-icon>
          <span ion-text color="primary">{{ highlight }}</span>
        </li>
      </ul>
    </div>
  
    <!--booking form-->
    <div class="booking-form card round" margin>
      <div class="border-bottom" padding>
        <h5>{{ item.sub_name }}</h5>
  
        <!--choose guest-->
        <ion-grid class="filters" no-padding margin-top>
          <ion-row>
            <ion-col class="adult" width-70>
              <span ion-text color="primary"><strong>{{ item.price_adult | currency:'USD':true }}</strong> Adults</span>
            </ion-col>
            <ion-col width-10 text-center>
              <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusAdult()" [hidden]="adults < 2"
                        color="secondary"></ion-icon>
            </ion-col>
            <ion-col width-10 text-center>{{ adults }}</ion-col>
            <ion-col width-10 text-center>
              <ion-icon name="add-circle" class="text-2x" tappable (click)="plusAdult()" color="secondary"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row margin-top>
            <ion-col width-70>
              <span ion-text color="primary"><strong>{{ item.price_child | currency:'USD':true }}</strong> Child (0-12 years)</span>
            </ion-col>
            <ion-col width-10 text-center>
              <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusChildren()" [hidden]="children < 1"
                        color="secondary"></ion-icon>
            </ion-col>
            <ion-col width-10 text-center>{{ children }}</ion-col>
            <ion-col width-10 text-center>
              <ion-icon name="add-circle" class="text-2x" tappable (click)="plusChildren()" color="secondary"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div padding class="form-bottom">
  <!--       <span ion-text color="dark" class="bold">{{ adults }} Adults</span> -->
        <!--booking button-->
        <button ion-button class="pull-right" color="secondary" tappable (click)="checkout()">Book Now {{ adults * item.price_adult +
          children * item.price_child | currency:'USD':true }}
        </button>
        <div class="clear"></div>
      </div>
    </div>
  
    <!--description-->
    <div class="border-bottom" padding>
      <span ion-text color="primary" class="bold">DESCRIPTION</span>
      <p ion-text>{{ item.description }}</p>
    </div>
  
    <!--address-->
    <div class="border-bottom" padding>
      <span ion-text color="primary" class="bold">LOCATION</span>
      <p ion-text>{{ item.location }}</p>
    </div>
  </ion-content>