<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow style="padding-top:18px;">
  <ion-navbar transparent>
    <button menuToggle ion-button round icon-only>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="addItem()"> -->
      <!-- <ion-icon name="add"></ion-icon> -->
      <!-- </button> -->
      Table # 3
    </ion-buttons>
    <ion-title>
      <span class="title-headers">
        My Cart Orders
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-list class="chat-sliding-demo">
    <ion-list-header>
      Chats
    </ion-list-header>

    <ion-item-sliding *ngFor="let cartItem of cartItemArray; let i = index;" #item>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="cartItem.itemImage">
        </ion-avatar>
        <h2>{{cartItem.itemName}}</h2>
        <ion-note item-end>
          {{cartItem.itemPrice | currency:'CAD':'symbol-narrow'}}
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="delete(i)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>


    </ion-item-sliding>
  </ion-list> -->
  <ion-list padding>
    <ion-item class="animated bounceInLeft" text-wrap *ngFor="let cartItem of cartItemArray; let i = index;">
      <ion-thumbnail item-start>
        <img class="image-circle" [src]="cartItem.itemImage">
      </ion-thumbnail>
      <h2>{{cartItem.itemName}}</h2>

      <button ion-button clear item-end color="orange">
        <ion-icon name="close" style="zoom:1.8;"></ion-icon>
      </button>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <button ion-button clear item-end color="orange">
              <ion-icon name="remove" style="zoom:1.8;"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2 padding-top text-center>
            <span>4</span>
          </ion-col>
          <ion-col col-2>
            <button ion-button clear item-end color="orange">
              <ion-icon name="add" style="zoom:1.8;"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-6 text-right>
            <ion-badge item-end color="orange">{{cartItem.itemPrice | currency:'CAD':'symbol-narrow'}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-card padding>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
        </ion-col>
        <ion-col col-4>
          <p class="total">Total</p>
        </ion-col>
        <ion-col col-4 text-right>
          <p class="total-price">$700</p>
        </ion-col>
        <ion-col col-2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div text-center>
    <button ion-button color="orange" round (click)="gotoDeliveryConfirmPage()">Checkout</button>
  </div>
</ion-content>