// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// FORM INPUT FORMATTING
form p {
    margin: 0 0 3em 0;
    position: relative;
    }
    form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
    }
    form input[type="email"],
    form input[type="password"],
    form input[type="text"] {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: #fff;
    border: 1px solid #e4e4e4;
    font-size: 1em;
    padding: 1.1em .5em;
    border-radius: 2px;
    }
    form input[type="email"]:focus,
    form input[type="password"]:focus,
    form input[type="text"]:focus {
    background: #fff;
    border-color: rgb(184, 184, 184);
    }
    form span {
    display: block;
    padding: 2px 5px;
    color: rgb(255, 255, 255);
    }
    form label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: color 0.3s, top 0.3s, background-color s;
    -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
    transition: color 0.3s, top 0.3s, background-color 0.8s;
    }
    form label.floatLabel {
    top: -11px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 14px;
    }
    // FORM INPUT FORMATTING END

    // HELPER BLOCK ERROR MSG FORMATTING
    .helper-block, .error-block{
        text-align: center;
        color: #c74646
    }

    .error-block{
        text-align: left;
        color: #c74646
    }

    // HELPER BLOCK ERROR MSG FORMATTING END

    .split-pane-side:not(ion-menu) {
        display: initial;
    }
    .split-pane-main {
        display: none;
    }
    .split-pane-visible {
        .split-pane-main {
            display: block;
        }
    }