<ion-menu type="overlay" [content]="content">
    <ion-content>
        <ion-list>
            <!-- <button menuClose ion-item *ngFor="let m of menuList" (click)="openMenu(m.title, m.component)">
                {{m.title}}
            </button>
            <p>james</p> -->
            <button menuClose ion-item *ngFor="let m of menuList" (click)="openPage(m)">
                {{m.title}}
            </button>
            <button menuClose ion-item (click)="logout()">
                {{ logoutButton.title }}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>