<ion-header no-shadow no-border>
  <ion-navbar transparent>
    <button menuToggle ion-button round icon-only>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="addItem()"> -->
        <!-- <ion-icon name="add"></ion-icon> -->

      </button>
      Table # 3
    </ion-buttons>
    <ion-title>
      Restaurant Menu
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding no-bounce>
  <ul class="cards" *ngIf="menuIsSet; else emptyMenu">
    <li class="cards__item" (click)="tableDetails(table)" *ngFor="let table of tableInfoDetail">
      <div class="card">
        <div class="card__image" [ngStyle]="{'background-image': 'url(' + table.menu_image + ')' }"></div>
        <div class="card__content">
          <div class="card__title">{{ table.menu_name }}</div>
          <!-- <p class="card__text">This is the shorthand for flex-grow, flex- </p> -->
          <!-- <button class="btn btn--block card__btn">Button</button> -->
        </div>
      </div>
    </li>
  </ul>
  <ng-template #emptyMenu>
    <div style="text-align: center;">
      <p>This menu is empty!</p>

    </div>
  </ng-template>
</ion-content>