page-main-table {
$green: #75d13b;
$grey: #e9e9e9;

@mixin transition($dur, $prop: all) {
	transition: $prop $dur ease;
	-webkit-transition: $prop $dur ease;
}


.blog-card {
	@include transition(0.3s, height);
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
	margin: 0 auto 1.6%;
	overflow: hidden;
	position: relative;
	font-size: 14px;
	line-height: 1.45em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:active {
		.photo {
			-webkit-filter: contrast(85%) blur(2px) saturate(90%); /* Safari 6.0 - 9.0 */
			filter: contrast(85%) blur(2px) saturate(90%);
		}
		.details {
			left: 0;
		}

		&.alt {
			.details {
				right: 0;
			}
		}
	}

	&.alt {
		.details {
			right: -100%;
			left: inherit;
		}
	}

	.photo {
		position: relative;
		background: center no-repeat;
		background-size: cover;
		overflow: hidden;
	}

	.description {
		padding: 10px;
		box-sizing: border-box;
		position: relative;

		h1 {
			font-family: 'Raleway', sans-serif;
			font-size: 2em;
			line-height: 1em;
			margin: 0 0 10px 0;
		}

		h2 {
			color: $grey / 1.5;
			font-family: 'Open Sans', sans-serif;
			line-height: 1em;
			font-size: 14px;
			font-weight: 400;
			margin: 1.1% 0;
		}

		p {
			position: relative;
			margin: 0;
			padding-top: 20px;

			&:after {
				content: "";
				background: $green;
				height: 6px;
				width: 40px;

				/*POSITION*/
				position: absolute;
				top: 6px;
				left: 0;
			}
		}

		a {
			color: $green;
			margin-bottom: 10px;
			float: right;

			&:after {
				@include transition(0.3s);

				content: "\f061";
				font-family: FontAwesome;
				margin-left: -10px;
				opacity: 0;
				vertical-align: middle;
			}

			&:focus:after {
				margin-left: 5px;
				opacity: 1;
			}
		}
	}
}

@media screen and (min-width: 240px) {
	.blog-card {
		height: 125px;
		max-width: 600px;

		&:focus {
			.photo {
				transform: rotate(0deg) scale(1.0);
			}

			&.alt .photo {
				transform: rotate(-0deg) scale(1.0);
			}
		}

		&.alt {
			.details {
				padding-left: 30px;
			}

			.description {
				float: right;

				&:before {
					transform: skewX(5deg);
					right: -15px;
					left: inherit;
				}
			}

			.photo {
				float: right;
			}
		}

		.photo {
			@include transition(0.5s);
			object-fit: cover;
			float: left;
			height: 100%;
      		width: 39%;
		}

		.details {
			width: 40%;
		}

		.description {
			float: right;
			width: 61%;
			height: 100%;
      		z-index: 0;

			&:before {
				transform: skewX(-10deg);
				content: "";
				background: #fff;
				width: 100%;
				z-index: -1;

				/*POSITION*/
				position: absolute;
				left: -15px;
				top: 0;
				bottom: 0;
			}
		}
	}
}
}
