<ion-header no-shadow style="padding-top:18px;" >
  <ion-navbar color="transparent">
    <button menuToggle ion-button round icon-only>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="addItem()"> -->
      <!-- <ion-icon name="add"></ion-icon> -->
      <!-- </button> -->
      Table # 3
    </ion-buttons>
    <ion-title>
      <span class="title-headers">
        Restaurant Menu
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="menuIsSet; else emptyMenu">
    <div class="blog-card" style="padding-top:7px;" *ngFor="let table of tableInfoDetail" (click)="tableDetails(table)">
      <img class="photo" [src]="table.menu_image">
      <div class="description">
        <h1 style="padding-top:25px;">{{ table.menu_name }}</h1>
        <hr>
        <h2>Sample Text Here</h2>
      </div>
    </div>
  </div>
  <ng-template #emptyMenu>
    <div style="text-align: center;">
      <p>This menu is empty!</p>
    </div>
  </ng-template>
</ion-content>