<!--
  Generated template for the TableDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border style="padding-top:18px;">
  <ion-navbar transparent>
    <button menuToggle ion-button round icon-only>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      Table 3
    </ion-buttons>
    <ion-title>
      <span class="title-headers">
        {{menu.menu_name}}
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="menuNotEmpty; else empty" class="wrap">
    <span *ngFor="let item of subMenuItems">
      <ion-row>
        <span class="tile">
          <span (click)="pressItemDetails(item)">
            <img [src]="item.product_image" />
            <span class="text h1-position">
              <h1>{{item.product_name}}</h1>
            </span>
          </span>
          <span class="buttonAlign">
            <button class="tableButton" ion-button round small icon-only (click)="itemDetails(item)">
              <ion-icon color="transparent" class="tableAdd" name="add"></ion-icon>
            </button>
          </span>
        </span>
        
      </ion-row>
    </span>
  </div>

  <ng-template #empty>
    <div style="text-align: center;">
      <p>Menu is Empty!</p>
    </div>
  </ng-template>

</ion-content>