<ion-header no-shadow no-border>
  <ion-navbar transparent>
    <div *ngIf="isLoggedIn">
      <button menuToggle style="opacity: 0.5;" ion-button round icon-only>
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </div>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <div class="splash-bg">
      <div class="layer"></div>
    </div>
    <div class="splash-info">
      <div class="splash-logo"></div>
      <div class="splash-intro" style="padding: 40px;">
        {{ 'ORDER_MONKEY_WELCOME_INTRO' | translate }}
      </div>
      <div style="padding: 20px;">
        <button ion-button block (click)="qrScan()">
          <ion-icon style="padding-right: 5px;" name="qr-scanner"></ion-icon>
          {{ 'QRSCANNER' | translate }}
        </button>
        <!-- <button ion-button block (click)="test()" class="login">test</button> -->
        <div *ngIf="!isLoggedIn">
          <button ion-button block (click)="login()" class="login">
            <ion-icon style="padding-right: 5px;" name="person"></ion-icon>
            {{ 'ACCOUNT_LOGIN' | translate }}
          </button>
        </div>
      </div>
      <p style="color:white;">
        <a (click)="terms()">{{ 'TERMS_PRIVACY1' | translate }}</a>
      </p>
    </div>
</ion-content>