page-welcome {
  .splash-bg {
    position: relative;
    background: url('../assets/img/welcome.jpg') no-repeat transparent;
    background-color: rgba(83, 83, 83, 0.2);
    background-size: cover;
    height: 100%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .layer {
    background-color: rgba(49, 49, 49, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -560px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/logo.jpg') repeat transparent;
    background-size: 100%;
    width: 175px;
    height: 175px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    color: white;
    max-width: 80%;
    margin: auto;
  }
  button.login {
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  .scroll-content {
    background: #1e1e1e;
  }

  ion-navbar .toolbar-background {
      background: transparent;
  }

  ion-content .scroll-content {
      margin-top:0px !important;
  }

  ion-title {
    color:white;
  }

  .button-color { 
    color: #1e1e1e
  }
}
