<ion-header no-shadow>
  <ion-navbar transparent>
    <div *ngIf="isLoggedIn; then menublock"></div>
    <ng-template #menublock>
      <button menuToggle style="opacity: 0.5;" ion-button round icon-only>
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ng-template>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro" style="padding: 40px;">
      {{ 'ORDER_MONKEY_WELCOME_INTRO' | translate }}
    </div>
    <div style="padding: 20px;">
      <button ion-button block (click)="barcodeScan()" class="login">{{ 'QRSCANNER' | translate }}</button>
      <div *ngIf="!isLoggedIn; then loginbuttonblock">
      </div>
      <ng-template #loginbuttonblock>
        <p style="color:#ffffff">----- or -----</p>
        <button ion-button block (click)="login()" class="login">{{ 'ACCOUNT_LOGIN' | translate }}</button>
      </ng-template>
    </div>
    <p style="color:white;">
      Terms & Agreements
    </p>
    
  </div>
</ion-content>